
@media screen and (orientation:landscape){
    .app-home-img{
        background-image: url(../../public/add-task.jpg);
        width: 450px;
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
        margin-left: 50px;
    }
    header nav span:hover{
        color: gray;
    }
    form{
        width: 100%;
    }
    .form-container{
        display: grid;
        grid-template-columns: 6fr 6fr;
        column-gap: 80px;
    }
    form{
        border: 3px gray solid;
        border-radius: 40px;
        padding: 50px;
    }
    .form-img{
        background-image: url(../../public/doctor-call.jpg);
        width: 450px;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 150px;
    }
    
}





@media  screen and (max-width:760px) {
    
    .brand-title{
        font-size: 28px;
    }
    form dt{
        margin-top: 20px;
    }
    .app-home-img{
        background-image: url(../../public/appointment-1.jpg);
        width: 350px;
        height: 350px;
        padding-right: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        column-gap: 80px;
    }
    form{
        padding-top: 30px;
        padding: 10px;
        padding-bottom: 30px;
        border: 2px solid gray;
        border-radius: 10px;
    }
    
    .form-img{
        background-image: url(../../public/doctor-call.jpg);
        width: 350px;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
    }
    
}